{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/home.css' %}"
/>
{% endblock %}

{% block content %}


<section class="logo-container">
  <div class="plant-container">
    <img
      src=""
      alt="The Plant Collector Plant"
    />
  </div>
  <img
    src=""
    alt="Text reads: Plant Collector"
  />
</section>

<section class="page-header">
    <h1>Welcome to Plant Collector</h1>
    <h2>
        Plant Collector is a playful application where you can manage a database of cool
         plants and their supply. 
    </h2>
      
</section>

{% endblock %}